/**{border-style: solid;}*/

body{

    background-image: url("/assets/img/poppy.png");
}

#logo{
    width:50%;
}

.content-left{ 
    width:75%;
    float: left;
    margin: 10px;
}


.content-right{
    width:75%;
    float: right;
    margin: 10px;
}

.footer{
    clear: both;
}

md-nav-bar .md-nav-bar {
    backdrop-filter: blur(20px);
    --webkit-backdrop-filter: blur(20px);
    /*background-color: #ffffff !important;
    opacity: .5;*/
}

._md-nav-bar-list {
    z-index: 1!important;
    opacity: 1!important;
}

._md-nav-button {
    width: 100%;
    opacity: 1!important;
    z-index: 6!important;
}